.calendar-container body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.calendar-container {
    width: 85%;
    margin: 20px auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background-color:#1b1b1b;
    margin-top: 90px;
}

.calendar-header{
    width:100%;
    color:#ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #007bff;
    border-bottom: none;
    cursor: pointer;
    font-size:20px;
    font-family: Sans-series;
    font-weight:bold;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    padding: 10px;
    height:600px;
}

.calendar-container .day-name {
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    height: -20px;
}

.calendar-container .day {
    background-color:#1b1b1b;
    border: 1px solid #eaeaea;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
    position: relative;

}
.day{
    cursor:pointer;
    background: none;
    border: none;
}

.calendar-container .empty {
    background: none;
    border: none;
}

.event {
    margin-top: 5px;
    font-size: 12px;
    border-radius: 3px;
    padding: 2px 5px;
    color: white;
    text-align: center;
}

.event.red {
    background: #e74c3c;
}

.event.green {
    background: #27ae60;
}

.event.yellow {
    background: #f1c40f;
}

.todo {
    display:flex;
    position: absolute;
    margin-top: 0%;
    left: 30%;
    height: 40px;
    width: 130px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size:13px;
    align-items: center;
    justify-content: center;
}

.todo:hover {
    background-color: #0056b3;
}

.todo-item {
  font-size: 12px;
  color: #fff;
  background-color: #007bff;
  padding: 2px 5px;
  border-radius: 3px;
  margin-top: 5px;
}
