<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fs.four.gamo.board.dao.BoardDAO">
    <select id="getList" resultType="fs.four.gamo.board.vo.BoardVO">
        <![CDATA[
            SELECT board_title, board_content, member_id, created_date
            FROM board
        ]]>
    </select>
</mapper>