/* 공통 스타일 초기화 */
{
outline: none;
box-sizing: border-box;
}

/* Body 스타일 */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 2em;
  font-family: "Poppins", sans-serif;
  background-color: #1b1b1b;
  color: #ffffff;
}

/* App 컨테이너 스타일 */
.app {
  background-color: #0e0e0e;
  width: 100%;
  max-width: 1200px;
  height: 92vh;
  max-height: 900px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  position: relative;
}

/* Sidebar 스타일 */
.sidebar {
  flex-basis: 284px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 50px;
  background-color: black;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  padding-top: 34px;
}

.sidebar-menulink {
  color: #5c5c5c;
  text-decoration: none;
  font-size: 20px;
  margin-top: 30px;
  transition: color 0.3s ease;
}

.sidebar-menulink:hover,
.sidebar-menu__link.active {
  color: #ffffff;
}

/* User 영역 스타일 */
.user {
  display: flex;
  flex-direction: column;
  padding-bottom: 64px;
  border-bottom: 1px solid #252424;
}

.user-name {
  font-size: 50px;
}

/* Main 컨테이너 스타일 */
.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 50px 50px 50px 20px;
  background-color: #0e0e0e;
}

.main-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.nav-logout {
  color: #ffffff;
  text-decoration: none;
  padding-bottom: 6px;
  margin-left: auto;
  transition: color 0.3s ease;
}

.nav-logout:hover {
  color: #cccccc;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #252424;
  border-radius: 5px;
  background-color: #0e0e0e;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}
