.mypage {
    margin: 0;
    background-size: cover;
    color: #ffffff;
  }

  /* 컨테이너 */
  .mypage .container {
    width: 85%;
    margin: 100px auto;
    margin-left: 7%;
    font-family: 'Danjo-bold-Regular';
  }

  /* 프로필 섹션 */
  .mypage .profile-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 10px;
    background: #1b1b1b;
  }

  .mypage .profile-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 15px;
  }

  .mypage .profile-title {
    font-size: 24px;
    color: #ffffff;
  }

  /* 프로젝트 섹션 */
  .mypage .projects-section {
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 10px;
    background: #1b1b1b;
    margin-bottom: 10px;
    color: #ffffff;
  }

  .mypage .filter-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .mypage .filter-btn, .add-btn {
    background: #1b1b1b;
    color: #000;
    border: 1px solid #fff;
    padding: 5px 10px;
    cursor: pointer;
  }

  .mypage .filter-btn:hover, .add-btn:hover {
    background: #555;
  }

  .mypage .project-box {
    border-top: 1px solid #fff;
    padding: 10px 0;
  }

  .mypage .project-row {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
  }

  .mypage .project-row.ongoing {
    background: #1b1b1b;
  }

  .mypage .project-row.completed {
    background: #1b1b1b;
  }

  .mypage .project-date, .project-status {
    flex: 1;
    text-align: center;
    color: #ffffff;
  }
  .mypage .project-name{
   color: #ffffff;
   }
  /* 글 리스트 섹션 */
  .mypage .posts-section {
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 10px;
    background: #1b1b1b;
    color: #ffffff;
  }

  .mypage .section-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    color: #ffffff;
  }

  .mypage .posts-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
    color: #ffffff;
  }

  .mypage .posts-table th,
  .mypage .posts-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #fff;
    color: #ffffff;
  }

  .mypage .posts-table tr:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  .mypage .pagination {
    text-align: center;
    font-size: 16px;
    color: ffffff;
  }

  .mypage .pagination span {
    color: #ffeb3b;
  }
