body {
    background-image: url(stars.jpg);
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sel {
    position: absolute;
    border-radius: 10px;
    left: 350px;
    top: 125px;
    width: 200px;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}
.rps_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    margin-left: 30%;
    color: white;
    border: 10px solid white;
    border-radius: 50px;
    width: 400px;
    height: 500px;
    text-align: center;
}
.rps_form .rps_title {
    font-size: 50px;
    font-weight: bold;
    margin: 0;
    margin-top: 70px;
    margin-bottom: 40px;
}
.rps_form .rps_content {
    display: none;
}
.rps_form .rps_content.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rps_form .rps_start {
    display: flex;
}
.rps_form .rps_start.hide {
    display: none;
}
.rps_info .rps_dec {
    display: none;
}
.rps_info .rps_dec.show {
    display: block;
}
.rps_form .rps_content .rps_btns .rps_button {
    border: none;
    border-radius: 20px;
    width: 80px;
    padding: 20px;
    cursor: pointer;
    margin: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    background-color: #4ccb32;
}
.rps_form .rps_content .rps_btns .rps_button:hover {
    background-color: #8c8c8c;
}
.rps_form .rps_start .rps_run {
    border: none;
    border-radius: 20px;
    width: 80px;
    padding: 20px;
    cursor: pointer;
    margin: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    background-color: #4ccb32;
}
.rps_form .rps_start .rps_run:hover {
    background-color: #8c8c8c;
}
